Venu Gmail Inbox intelligence agent.json
{
  "name": "Venu Gmail Inbox intelligence agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "342aafe3-45e0-47c1-a803-dd039e581921",
      "name": "Venu Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "JKu0ZwSwnlxrTDn0",
          "name": "VB Gmail - 02-07-2026"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an email sorting assistant with access to Google Sheets. Analyze every email and log it directly to the spreadsheet.\n\nAnalyze this email and categorize it:\n\nEmail From: {{ $json.From }}\nEmail Subject: {{ $json.Subject }}\nEmail Body: {{ $json.snippet }}\nThread ID: {{ $json.threadId }}\n\nFor each email, determine:\n- Type: Choose one (Support, Sales, General Inquiry, Newsletter, Spam, Other)\n- Category: Choose one (Urgent, Important, Normal, Low Priority)\n- Requires Response: Answer Yes or No\n- Suggested Response: Write 1-2 sentences suggesting how to reply, or write \"No response needed\"\n\nAfter analyzing the email, use the Google Sheets tool to add a new row with all this information. Make sure every email gets logged.\n\nToday's date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "5dde9f49-6019-48b0-b40d-7e266a8df381",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "5b815a7d-3aaa-4e7a-bc09-ba0b9be2dec4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5a43b499-74d1-4c10-92fb-782f63b8cf1d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NsF5Ijr2Odcoyrav",
          "name": "VB Google Gemini(PaLM) - 02-77-2026"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"type of email\",\n  \"category\": \"category of the email\",\n  \"requires_response\": \"Yes/No\",\n  \"suggested_response\": \"Suggested response by the AI Agent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        240
      ],
      "id": "e8e172f2-e3e0-4d18-8d9f-5600e103dedd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cQO3QjUL9a7E-cHinNgw0_8pAPZWC21LLFYuFOi_uWY",
          "mode": "list",
          "cachedResultName": "Venu_WFC_Email_Sorter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQO3QjUL9a7E-cHinNgw0_8pAPZWC21LLFYuFOi_uWY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQO3QjUL9a7E-cHinNgw0_8pAPZWC21LLFYuFOi_uWY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Received": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_Received', ``, 'string') }}",
            "Sender Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Email', ``, 'string') }}",
            "Sender Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}",
            "Email Snippet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Snippet', ``, 'string') }}",
            "Thread ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', ``, 'string') }}",
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Requires Response": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requires_Response', ``, 'string') }}",
            "Suggested Response": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Suggested_Response', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Snippet",
              "displayName": "Email Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requires Response",
              "displayName": "Requires Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Response",
              "displayName": "Suggested Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        352
      ],
      "id": "c1d5deb6-6380-402f-ab40-f73f6915745f",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L7gqc5JkoUq6EVrs",
          "name": "VB Google Sheets-02-07-2026"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Venu Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6863867f-9d1a-4842-8d10-b018d5aef229",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "jF5Co7H0ql3f0wUuB6HAZ",
  "tags": []
}